<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shifting Profile</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="CONTAINER">
    <div class="background background-0"></div>
    <div class="background background-1"></div>
    <div class="CONTENT">
      <div class="void"></div>
      <div class="profile-picture"></div>
      <div class="text">
        <div class="title">
          <h5>Shifting Profile</h5>
          <p>Job or Skill</p>
        </div>
        <div class="about">
          <div class="card">
            <h5>Card 1</h5>
            <img src="../img/item-books.jpg" alt="Books" width="400">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reprehenderit, velit libero dignissimos expedita odit iusto voluptatum eos. Modi, minima accusamus exercitationem placeat porro quae incidunt qui? Id, veniam aspernatur.</p>
          </div>
          <div class="card">
            <h5>Card 2</h5>
            <img src="../img/item-books.jpg" alt="Books" width="400">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reprehenderit, velit libero dignissimos expedita odit iusto voluptatum eos. Modi, minima accusamus exercitationem placeat porro quae incidunt qui? Id, veniam aspernatur.</p>
          </div>
          <div class="card">
            <h5>Card 3</h5>
            <img src="../img/item-books.jpg" alt="Books" width="400">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reprehenderit, velit libero dignissimos expedita odit iusto voluptatum eos. Modi, minima accusamus exercitationem placeat porro quae incidunt qui? Id, veniam aspernatur.</p>
          </div>
        </div>
        <div class="contact">
          <div class="label">Jika anda berminat silakan hubungi saya</div>
          <div class="phone-number">081234567890</div>
          <div class="email">rezkysimanjuntak@hsp.net.id</div>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>

