<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exabit Group Network | Internet Service Provider</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="UNION">
        <div class="header-lowbg">
            <header>
                <div class="header-nama_perusahaan">
                    <div class="header-nama_perusahaan-papan">
                        <img class="header-nama_perusahaan-papan-logo" src="images/logo.png" alt="LOGO">
                        <div class="header-nama_perusahaan-papan-teks">Internet Service Provider</div>
                        <a class="header-nama_perusahaan-papan-mulai" href="#to_section">MULAI</a>
                    </div>
                </div>
                <div class="header-nav">
                    <a href="#to_section" class="header-nav-tentang">TENTANG</a>
                    <a href="#to_footer" class="header-nav-produk">PRODUK</a>
                    <a href="#to_footer-kontak" class="header-nav-kontak">KONTAK</a>
                </div>
            </header>
        </div>
        <section id="to_section">
            <div class="section-tentang-lowbg">
                <div class="section-tentang">
                    <div class="section-tentang-gradient">
                        <div class="section-tentang-gradient-h">INTERNET<br>CEPAT</div>
                        <div class="section-tentang-gradient-p">
                            Di era digital saat ini peranan internet sangatlah penting.
                            Semua harus saling terhubung dengan internet untuk bisa mempermudah pekerjaan maupun hiburan.
                            <br><br>
                            Kami <b>Exabit</b> telah hadir untuk memenuhi kebutuhan internet keluarga Indonesia.
                            Kami selalu bersedia 24 jam untuk menjaga kelancaran penjelajahan anda di internet.
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-browsing-lowbg">
                <div class="section-browsing">
                    <div class="section-browsing-gradient">
                        <div class="section-browsing-gradient-p">
                            Mau sosial media, streaming video & musik, maupun bermain game,
                            semuanya lancar tanpa nge-lag.
                            <br><br>
                            Gapai hal lebih banyak di internet tanpa takut kehabisan kuota.
                            Mari berselancar tanpa batas.
                        </div>
                        <div class="section-browsing-gradient-h">MENJELAJAH<br>DENGAN<br>BEBAS</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-lowbg">
            <footer id="to_footer">
                <div class="footer-produk">
                    <div class="footer-produk-judul">PAKET</div>
                    <div class="footer-produk-daftar"></div>
                </div>
                <div class="footer-kontak" id="to_footer-kontak">
                    <div class="footer-kontak-pesan">
                        <div class="footer-kontak-pesan-judul">Ayo pesan sekarang!</div>
                        <div class="footer-kontak-pesan-telp">
                            <p>Telp:</p>
                            <a href="https://wa.link/6bjbqi">085230432183</a>
                        </div>
                        <div class="footer-kontak-pesan-email">
                            <p>Email:</p>
                            <a href="mailto:admin@exabit.id">admin@exabit.id</a>
                        </div>
                    </div>
                    <div class="footer-kontak-alamat">
                        <div class="footer-kontak-alamat-teks">
                            Alamat:<br><br>
                            <i>
                                Perumahan Bangsalsari Land Mawar No.01, Desa Bangsalsari,
                                Kecamatan Bangsalsari, Kabupaten Jember, Jawa Timur
                            </i>
                        </div>
                        <iframe
                            class="footer-kontak-alamat-gmap_statis"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1208.4171091076462!2d113.53365133396451!3d-8.212529202346607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd68ffed2548469%3A0xf08fe7a3be229680!2sPerumahan%20Bangsalsari%20Land!5e0!3m2!1sid!2sid!4v1684726521136!5m2!1sid!2sid"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>